<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

<session-config>
    <session-timeout>
        30
    </session-timeout>
</session-config>
<servlet>   
           <servlet-name>uploadfile</servlet-name>
           <jsp-file>/Student/assgnupload.jsp</jsp-file>
           <multipart-config>
               <location>/temp</location>
               <max-file-size>16177215</max-file-size>
               <max-request-size>16177215</max-request-size>
               <file-size-threshold>1048576</file-size-threshold>
           </multipart-config>
</servlet>
<servlet-mapping>
            <servlet-name>uploadfile</servlet-name>
            <url-pattern>/Student/assgnupload.jsp</url-pattern>
</servlet-mapping>


<servlet>   
           <servlet-name>uploadnotes</servlet-name>
           <jsp-file>/Faculty/notesupload.jsp</jsp-file>
           <multipart-config>
               <location>/temp</location>
               <max-file-size>16177215</max-file-size>
               <max-request-size>16177215</max-request-size>
               <file-size-threshold>1048576</file-size-threshold>
           </multipart-config>
</servlet>
<servlet-mapping>
            <servlet-name>uploadnotes</servlet-name>
            <url-pattern>/Faculty/notesupload.jsp</url-pattern>
</servlet-mapping>


<display-name>EmailSendingWebApp</display-name>
 
    <!-- SMTP settings -->
    <context-param>
        <param-name>host</param-name>
        <param-value>smtp.gmail.com</param-value>
    </context-param>
 
    <context-param>
        <param-name>port</param-name>
        <param-value>587</param-value>
    </context-param>
 
    <context-param>
        <param-name>user</param-name>
        <param-value>college55.lms@gmail.com</param-value>
    </context-param>
 
    <context-param>
        <param-name>pass</param-name>
        <param-value>LMS@javaminiproject</param-value>
    </context-param>
 
<!--    <welcome-file-list>
        <welcome-file>/Admin/student/sendmail.jsp</welcome-file>
    </welcome-file-list>-->


</web-app>